<body>
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-xl">
        <h1 class="text-5xl font-bold">
          404 <span class="text-primary">ERROR</span>
        </h1>
        <p class="py-6 text-xl">
          Oops! Looks like the page you are looking does not exist...<br />
          If you think <strong>there</strong> should be a site, <a
            href="mailto:nick.orfield1@gmail.com"
            class="link-secondary font-bold link-hover">email me here.</a
          >
        </p>
        <a href="/" class="btn btn-primary">Go Homepage</a>
      </div>
    </div>
  </div>
</body>
