---
import BlogHeader from '../components/BlogHeader.astro';
import ThemeWrapper from '../components/ThemeWrapper.astro';
---
<ThemeWrapper>
    <BlogHeader/>
    <h1 class="font-serif">About</h1>
</ThemeWrapper>