---
import Author from "./Author.astro";
import Comments from "./Comments.jsx";
import Footer from "./Footer.astro";

export interface Props {
  title: string;
  author: string;
  authorURL: string;
  publishDate: string;
}

const { title, author, authorURL, publishDate } = Astro.props as Props;
---

<div>
  <article>
    <header class="mb-16">
      <p class="text-center">{publishDate}</p>
      <h1 class="title text-center">{title}</h1>
      <Author name={author} href={authorURL} />
    </header>
    <main class="mb-20 [&>p]:my-8">
      <slot />
    </main>
    <footer class="font-bold mb-12">
      Thanks for reading/gracias por leer.
    </footer>
    <Comments client:load />
    {/*(This footer is) for the home page and blog posts */}
    <Footer />
  </article>
</div>
