
<header class="wrapper">
	<article>
		<h1 class="block md:flex">
			<a href="/" class="decoration-warning link link-hover border-transparent border-4 active:border-warning p-3 transition-all flex flex-col sm:flex-row">

<img src="/final_full_logo.svg" class="w-52"/>

				<span class="sm:pt-20 sm:pl-5 pt-5 text-warning tracking-wide text-4xl break-all">and an online cavern</span>
			</a>
		</h1>
	</article>
</header>