---
export interface Props {
  link: string;
  icon: string;
  name: string;
}
const { link, icon, name } = Astro.props as Props;
---

<li>
  <a href={link} class="text-2xl">
    <i class={`${icon}`}></i>
    <span>{name}</span>
  </a>
</li>
